@tailwind base;
@tailwind components;
@tailwind utilities;


section {
    margin: 0vh 5vh;
    text-align: center;
}

img:hover {
    filter:hue-rotate(180deg) drop-shadow(1px 1px 1px
          red);
  }

h3,h2{
    font-size: 1.6em;
    font-weight: 500;
}
   
@media screen and (max-width:640px) {
    section {
        margin: 0 2vh;
    }
    .nav {
        margin-bottom: 16vh;
    }
    nav {
        margin-bottom: 3vh;
    }
}

@media screen and (min-width:640px) {
    nav {
        margin-bottom: 3vh;
    }
}

  
